BODY, TD {
  color: #000;
  background: rgb(238, 238, 236);
  font: 8pt sans-serif;
  margin: 0px;
}
DIV.head {
  color: #FFF;
  background: rgb(46, 52, 54);
  font: 12pt sans-serif;
  font-weight: bold;
  padding: 2px;
}
DIV.sub {
  color: #000;
  font: 8pt sans-serif;
  padding: 2px;
  border-top: solid rgb(136, 138, 133) 1px;
}
div.box {
  border: dotted rgb(211, 215, 207) 1px;
  padding: 1em;
}
div#loading {
  position: fixed;
  background: white;
  border: solid rgb(136, 138, 133) 1px;
  padding: 1em;
  left: 45%;
  top: 48%;
  width: 10%;
  text-align: center;
}
textarea {
  width: 98%;
}

/**
 * List Styles
 */
ul {
/*  padding-left: 0;*/
}

ul.state-jobs li {
  list-style-type: none;
}


span.package:before {
  content: url("../images/icons/package-x-generic.png");
  margin-right: 8px;
}

span.kernel:before {
  content: url("../images/icons/applications-system.png");
  margin-right: 8px;
}

dl {
  overflow: auto;
}

dt {
  width: 16em;
  font-weight:    bold;
  text-align: right;
  margin: 0;
  float: left;
  clear: left;
}

dd {
  color: #000000;
  margin: 0;
  margin-left: 1em;
  float: left;
  clear: right;
}

dd.large {
  margin-left: 17em;
  margin-top: -1em;
  margin-right: 1em;
  padding: 0.2em;
  border: solid rgb(211, 215, 207) 1px;
  font-family: monospace;
}

/**
 * Misc Styles
 */
SPAN.time {
  color: rgb(136, 138, 133);
  text-align: right;
}

/**
 * Alarm Styles
 */
.crit, .unkn, .warn {
  width: 72px;
  padding: 0px 1px 0px 1px;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #555;
}
.crit {
  color: #FFF;
  background: #F00;
  border-color: #C00;
  font-weight: bold;
}
.unkn {
  background: #CCC;
}
.warn {
  color: #FFF;
  background: #F60;
  border-color: #C40;
}
.ack {
  text-decoration: line-through;
  color: #777;
}
.text-muted {
  color: #999;
}
h1, h2, p {
  margin: 2px;
}
h1 {
  font-size: 12pt;
}
h2 {
  font-size: 10pt;
}
p {
  font-size: 8pt;
}
p.info:before {
  content: url("../images/icons/dialog-information.png");
  margin-right: 8px;
}
p.warning:before {
  content: url("../images/icons/dialog-warning.png");
  margin-right: 8px;
}
p.error:before {
  content: url("../images/icons/dialog-error.png");
  margin-right: 8px;
}
p.loading:before, span.loading:before {
  content: url("../images/icons/view-refresh.png");
  margin-right: 8px;
}
p.info, p.warning, p.error, p.loading {
  font-style: italic;
}
em {
  color: rgb(32, 74, 135);
}
a, .ui-widget-content a {
  cursor: pointer;
  color: rgb(52, 101, 164);
}
a:hover {
  text-decoration: underline;
  color: rgb(114, 159, 207);
}
a.button {
  color: rgb(46, 52, 54);
  background-color: rgb(186, 189, 182);
  text-decoration: none;
  border: solid rgb(136, 138, 133) 1px;
  border-top: solid rgb(211, 215, 207) 1px;
  border-left: solid rgb(211, 215, 207) 1px;
  padding: 1px 2px 1px 2px;
  margin: 0;
}
a.button:hover {
  text-shadow: 3px;
  background-color: rgb(186, 189, 182);
}
a.button:active, a.button:.active {
  background-color: rgb(186, 189, 182);
  border: solid rgb(136, 138, 133) 1px;
  border-top: solid rgb(211, 215, 207) 1px;
  border-left: solid rgb(211, 215, 207) 1px;
}
a.delete {
  text-decoration: none;
}
a.delete:before {
  content:url("../images/icons/edit-delete.png");
  padding-right: 0.5em;
}
a.edit:before {
  content:url("../images/icons/edit.png");
  padding-left: 0.5em;
  padding-right: 0.5em;
  cursor: pointer;
}
img, a.image, a.plain {
  border: 0;
  outline: 0;
  background-color: transparent;
}
textarea {
  font: 8pt monospace;
}
/*
input {
  font: 8pt sans-serif;
  color: #1F201F;
  background: #9FA09E;
  border: solid #4F504F 1px;
  border-top: solid #CFCFCE 1px;
  border-left: solid #CFCFCE 1px;
  padding: 0;
}
input:hover {
  background-color: #A8A9A7;
  color: #002740;
}
input:active, input.active {
  background-color: #8F908E;
  border: solid #4F504F 1px;
  border-bottom: solid #CFCFCE 1px;
  border-right: solid #CFCFCE 1px;
}
*/
ol>li {
  margin:0;
  padding:4px;
  border-bottom:1px solid #555;
}
ol>li>p {
  margin:0;
  padding:4px;
}
table, td, th {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 0;
  text-align: left;
  border: thin solid rgb(225, 227, 222);
}
table.simple td {
  border: thin solid rgb(85, 87, 83);
  padding: 4px;
}
table.timeline td {
  margin: 0;
  padding: 0 0.2em 0 0;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
table th {
  background-color: rgb(85, 87, 83);
  color: #fff;
  padding: 2px;
}
table {
  width: 100%;
}
td {
  padding: 0 4px 0 4px;
}
td.fixed {
  white-space: nowrap;
}
div#pakiti2-json span {
  padding-right: 1em;
}
div#pakiti2-json span.critical, div#pakiti2-json span.security {
  color: #cc0000;
}
div#pakiti2-json span.important {
  color: #f57900;
}
div#pakiti2-json span.moderate {
  color: #3465a4;
}
div#pakiti2-json span.low, div#pakiti2-json span.standard {
  color: #4e9a06;
}

/*PBS Nodetypes*/
div.deadfree, div.deadinuse, div.inuse, div.free {
  margin:0;
  margin-top:-1px;
  margin-left:-1px;
  padding:0;
  height:8px;
  width:8px;
  border:1px solid #333;
  float:left;
  font-size:1pt;
}

div.inuse {
  background-color:#09D;
}

div.free {
  background-color:#0D0;
}

div.deadinuse {
  background-color:#057;
}

div.deadfree {
  background-color:#070;
}

span.rollup:hover {
  color: rgb(52, 101, 164);
  cursor: pointer;
}

div#node-magdb-history > table > tbody > tr > th, td {
  font-size: 7pt;
  /*border: thin solid rgb(225, 227, 222);*/
}

tr.node-RT-resolved > td, td.unchanged {
  color: rgb(136, 138, 133);
}
ins {
  color: rgb(12, 54, 115);
  text-decoration: none;
  background-color: rgb(164, 209, 247);
}
del {
  color: rgb(204, 0, 0);
}
