body {
  margin: 0;
  padding: 0;
}
div#footer {
  position: absolute;
  height: 96px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0px 0px 8px 8px;
}
ul#key>li {
  list-style-type: none;
  padding: 0 2em 0 2em;
  float: left;
}
ul#key>li.label {
  clear: left;
}
div.nincom {
  position: absolute;
  margin: 0;
  top: 6px;
  left: 400px;
  width: 340px;
  height: 12px;
  padding: 8px;
}
div.label, div.label-bold {
  position: absolute;
  width: 180px;
  height: 12px;
}
div#yumitchoice {
  position: absolute;
  bottom: 108px;
  left: 16px;
}
/* Define layers */
div.layer {
  margin-top: 10px;
  height: 128px;
}
p.layer {
  padding: 0 4px 0 2px;
  margin: 0.2em;
  margin-top: -12px;
}
/* Define instances and clusters */
div.instance, div.cluster {
  position: relative;
  margin: 0px 0px 0px 8px;
  padding: 0px 0px 1px 0px;
  top: 56px;
  width: 184px;
  display: inline;
  float: left;
}
div.cluster {
  width: 160px;
}
p.instance, p.cluster {
  padding: 0 4px 0 2px;
  margin: 0;
}
/* Define diskpools */
div.diskpool {
  padding: 2px;
  overflow: auto;
}
p.diskpool {
  padding: 0 2px 0 2px;
  margin: 0;
}
div.diskpool > span.node, div.cluster > span.node {
  float: left;
  margin: 1px;
}
/* Define nodes */
span.node {
  width: 16px;
  height: 11px;
  border-width: 1px;
  padding: 0;
  display: block;
}
span.node:hover {
  outline-width: 2px;
  z-index: 1;
}
a.tab {
  margin: 0;
  padding: 4px;
  padding-top: 11px;
  border-width: 1px;
}
a.locate {
  padding: 4px;
  margin-left: 4px;
  border-width: 1px;
}
jobslot {
  height: 11px;
  float: left;
  outline-width: 1px;
}
span.twinLeft {
 width: 12px;
 margin-left: 0px;
}
span.twinRight {
 width: 12px;
 margin-left: -7px;
}
span.twinTopLeft {
 width: 12px;
 margin-left: 0px;
}
span.twinBotLeft {
 width: 12px;
 margin-left: 0px;
}
span.twinTopRight {
 width: 12px;
 margin-left: 0px;
}
span.twinBotRight {
 width: 12px;
 margin-left: 0px;
}
