/*==================================
GLOBAL SETTINGS
==================================*/
* {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  background: #666;
  color: #fff;
  font: 8pt 'lucida sans unicode', 'lucida sans', 'dejavu lgc sans', 'sans', 'arial';
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/*==================================
HEADERS
==================================*/
h1, h2, h3, h4, h5, h6 {
  color: #fff;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

h2 {
  background-color: #717171;
  font-size: 22pt;
  margin: 0px 0px 8px;
  padding: 8px;
  width: 100%;
  float: left;
}

h3 {
  margin: 0;
  padding: 4px 0 0 4px;
  font-size: 14px;
  font-weight: bold;
  cursor: default;
}

h5 {
  font-size: 9pt;
  padding: 4px 0 4px 2px;
  margin: 0;
  cursor: default;
}

a {
  color: #6DD;
}
/*==================================
LOGO, MENU & KEY
==================================*/
aside {
  background: #333;
  float: left;
  width: 180px;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-flow: column;
  z-index: 2;
}

.scroll {
  /*height: 80vh;*/
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
  width: 180px !important;
  padding-left: 14px;
  float: left;
  margin-bottom: 60px;
  border-top: 3px solid #3F3F3F;
  border-bottom: 3px solid #3F3F3F;
}

.vertical-track {
  width: 2px;
  background: #474747;
  margin: 0 6px;
  -webkit-transition: background 250ms linear;
  transition: background 250ms linear;
}

.vertical-track:hover,
.vertical-track.dragging {
  background: #929292;
}

.vertical-track:hover .vertical-handle,
.vertical-track.dragging .vertical-handle {
  background: #6DD;
}

.vertical-handle {
  width: 4px;
  left: -1px;
  background: #356671;
  border-radius: 7px;
  -webkit-transition: background 250ms linear;
  transition: background 250ms linear;
}

nav {
  float: left;
  width: 100%;
}
.drop-head {
  width: 100%;
  float: left;
  height: 30px;

  cursor: pointer;
}
nav h4 {
  padding-left: 2px;
  color: #909090;
  margin: 4px 0;

  float: left;
}
.drop-head:hover span,
.drop-head:hover h4 {
  color: #dbdbdb;
}

nav ul {
  margin: 0;
  border-top: 1px solid #3B3B3B;
  border-bottom: 1px solid #2A2A2A;
  padding: 10px 0;
  float: left;
  width: 100%;
}
nav ul:first-child {
  border-top: none;
}
nav ul:last-child {
  border-bottom: none;
}
.menu-items {
  float: left;
  width: 100%;
}
.tab {
  padding: 8px 0 8px 18px;
  color: #EDEDED;
  cursor: pointer;
  list-style-type: none;
  margin: 2px 0;
  background: #383838;
  float: left;
  width: 100%;
}

.tab:hover {
  background: #555;
}

.tab.active {
  background: #666;
  color: #fff;
}

.arrow {
  color: #515151;
  float: right;
  font-size: 14px;
  padding: 4px 16px 0px 0px;
}

#inLocate {
  background: #3C6950;
  color: #fff;
  font-size: 13px;
  padding: 6px 10px;
  border: none;
  margin: 10px 6px;
  width: 168px;
  border-radius: 13px;
}

/* === Key === */

.key {
  width: 100%;
  color: #EDEDED;
  padding: 6px;
  float: left;
}

.key li {
  list-style-type: none;
  padding: 0;
  clear: both;
  margin: 4px;
}

.key span {
  float: left;
  margin-right: 4px;
}





.wrapper {
  min-height: 100%;
  margin: 0 auto -172px 180px;
}

#farm {
  margin-top: 16px;
  float: left;
  width: 100%;
}

footer {
  padding: 0 16px 16px 16px;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 180px;
  font-size: 12px;
  position: fixed;
}

/*==================================
LAYOUT
==================================*/
/* === Node Containers === */
.node-group {
  clear: both;
  float: left;
  width: 100%;
  margin-bottom: 20px;
  padding: 0 16px;
}
.node-panel {
  background-color: #717171;
  float: left;
  padding: 10px;
}

.grid-item {
  margin-bottom: 16px;
  width: 228px;
}
.grid-item-big {
  width: 960px;
}
.node-cluster {
  padding: 4px;
  float: left;
}




/* === Define nodes === */
.node {
  color: #000;
  width: 16px;
  height: 11px;
  border: 1px solid #000;
  padding: 0;
  display: block;
  cursor: pointer;
  text-align: center;
  font-size: 7px;
  background-position: center center;
  float: left;
  margin: 1px;
  box-sizing: content-box;
}

.node:hover {
  outline: 2px solid #FFF;
  z-index: 10000;
}



/* === ES only (to be removed soon) === */
div.instance, div.cluster {
  position: relative;
  margin: 0 0 4px 4px;
  padding: 0 0 1px 0;
  width: 16%;
  float: left;
  outline: 1px dotted #555;
  min-width: 160px;
  min-height: 48px;
}

.rack {
  padding: 0;
  width: 22px;
  float: left;
  overflow: auto;
}

p.rack {
  padding: 0;
  margin: 0;
  font-size: 6pt;
  width: 22px;
  text-align: center;
}

/*==================================
COLOURS
==================================*/
/* === Elastic Search Statuses === */
.red            {outline: 1px solid #D00;}
.yellow         {outline: 1px solid #FC0;}
.red            {background-color: #D00;}
.yellow         {background-color: #FC0;}
.green          {background-color: #0D0;}
.replica        {opacity: 0.33;}

.free           {background-color: #0D0;}
.inuse          {background-color: #6DD;}
.full           {background-color: #09D;}
.batchdown      {background-color: #500;}
.offline        {background-color: #FC0;}
.unknown        {background-color: #999;}

.note {
  background-image: url("../images/icons/multi_note.gif");
  background-position: center 0;
  background-repeat: no-repeat;
}

.note.critical {
  background-image: url("../images/icons/multi_note.gif");
  background-position: center -22px;
}

.note.warning {
  background-image: url("../images/icons/multi_note.gif");
  background-position: center -11px;
}

.warning, .critical {
  background-image: url("../images/icons/multi_plain.gif");
}

.warning        {background-position: center -11px;}
.critical       {background-position: center -22px;}
.downtime       {background-image: url("../images/icons/downtime.png");}
.down           {background-image: url("../images/icons/dead.png");}
.uninstantiated {background-color: #666;}
.instantiated   {background-color: #6DD;}
.Test           {background-color: #999;}
.cloud-bad      {background-color: #f57900;}
.Production     {background-color: #73d216;}
.Ready          {background-color: #caeb16;}
.Holding        {background-color: #2e3436;}
.Deployment     {background-color: #edd400;}
.ReadOnly       {background-color: #729fcf;}
.Draining       {background-color: #204a87;}
.Intervention   {background-color: #c17d11;}
.Decomissioned  {background-color: #000000;}

/*==================================
LABELS & POPUPS
==================================*/
.label, .label-bold {
  position: absolute;
  font-size: 7pt;
  width: 180px;
  height: 12px;
  text-align: center;
  color: #EEE;
}

.label-bold {
  font-weight: bold;
}

.loading {
  width: 100%;
  text-align: center;
  margin-top: 5%;
}

.tooltip-inner {
  text-align: left;
  max-width: 300px;
}
.tooltip-inner .info-type {
  text-transform: capitalize;
}
