/*==================================
  GLOBAL SETTINGS
==================================*/
* {
  box-sizing: content-box;
}

body {
  background: #666;
  color: #fff;
  font: 8pt 'lucida sans unicode', 'lucida sans', 'dejavu lgc sans', 'sans', 'arial';
  margin: 0;
  padding: 0;
}

/*==================================
  HEADERS
==================================*/
h1, h2, h3, h4, h5, h6 {
  color: #fff;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

h2 {
  background-color: #777;
  border-bottom: 4px solid #555;
  border-top: 4px solid #555;
  font-size: 18pt;
  margin: 0px 0px 10px;
  padding: 8px;
}

h3 {
  margin: 0px;
  padding: 4px 0 0px 4px;
}

h5 {
  font-size: 9pt;
  font-weight: bold;
  padding: 4px 0 4px 2px;
  margin: 0;
}

h5.diskpool {
  font-weight: normal;
  clear: both;
  padding: 10px 0 4px 4px;
}

/*==================================
  LOGO, MENU & KEY
==================================*/
header {
  background: #444 url("../images/mimic-logo.png") no-repeat 0 -3px / 140px auto;
  box-shadow: 0 0 4px #000;
  padding: 0;
  position: fixed;
  float: left;
  width: 100%;
  z-index: 9999;
}

#menu {
  float: right;
  height: 29px;
}

.tab {
  padding: 8px;
  margin: 0;
  border-left: 1px solid rgb(46, 52, 54);
  border-right: 1px solid rgb(46, 52, 54);
  color: #EDEDED;
  cursor: pointer;
  display: inline;
  float: left;
}

#menu:first-child {
  border-left: 2px solid rgb(46, 52, 54);
}

#menu:last-child {
  border-right: none;
}

.tab:hover {
  background: linear-gradient(#aaa, #666 ,#666 ,#666 ,#666);
  height: 20px;
  box-shadow: 0 -9px 8px rgba(0, 0, 0, 0.6);
}

.tab.active {
  background: #666;
  color: #fff;
  height: 20px;
  box-shadow: 0 -9px 8px rgba(0, 0, 0, 0.6);
}

#inLocate {
  background: #3C6950;
  border-left: 1px solid #2E3436;
  color: #fff;
  font-size: 13px;
  padding: 6px 10px;
  float: left;
  border-top: none;
  border-bottom: none;
  border-right: none;
  width: 130px;
}


/* === Key === */
#key-button {
  padding: 4px;

}
#key {
  position: fixed;
  right: 0;
  top: 28px;
  width: 160px;
  background-color: #444;
  color: #EDEDED;
  border: 1px solid rgb(46, 52, 54);
  z-index: 9998;
  display: none;
  border-radius: 0 0 0 8px;
  padding: 6px;
}

.key-dropdown {
  padding: 4px;
  margin-left: 8px;
}

.key-dropdown li {
  list-style-type: none;
  padding: 0;
  clear: both;
  margin: 4px;
}

.key-dropdown span {
  float: left;
  margin-right: 4px;
}

#farm {
  float: left;
  margin-top: 40px;
}

/*==================================
  LOGO, MENU & KEY
==================================*/
.label, .label-bold {
  position: absolute;
  font-size: 7pt;
  width: 180px;
  height: 12px;
  text-align: center;
  color: #EEE;
}

.label-bold {
  font-weight: bold;
}






.width-col6 {
  width: 16.4% !important;
  height: 156px !important;
  /*background: #fff;*/
}

.width-col3 {
  width: 33% !important;
  min-height: 156px !important;
  /*background: #fff;*/;
}

.width-col1 {
  width: 99.4% !important;
  /*background: #fff;*/;
}

.width-small {
  height: 78px !important;
  /*background-color: red;*/
}
#n\/a {
  width: 16.4% !important;
}






/* Define instances and clusters */
div.instance, div.cluster {
  position: relative;
  margin: 0px 0px 4px 4px;
  padding: 0px 0px 1px 0px;
  width: 16%;
  float: left;
  outline: 1px dotted #555;
  min-width: 160px;
  min-height: 48px;
}

div.room {
  float: none;
  width: auto;
  overflow: auto;
}

div.room {
  position: relative;
  padding: 0px 0px 1px 0px;
  width: auto;
  float: left;
}
.room h5 {
  font-size: 7pt;
  font-weight: normal;
  margin: 0;
}







/* Define diskpools */

div.rack {
  padding: 0;
  width: 19px;
  float: left;
  overflow: auto;
}
p.rack {
  padding: 0;
  margin: 0;
  font-size: 6pt;
  width: 16px;
  text-align: center;
}

div.diskpool > span.node, div.cluster > span.node {
  float: left;
  margin: 1px;
}















/* Define nodes */
.node {
  color: #000;
  width: 16px;
  height: 11px;
  border: 1px solid #000;
  padding: 0;
  display: block;
  cursor: pointer;
  text-align: center;
  font-size: 7px;
  background-position: center center;
}

.node:hover {
  outline: 2px solid #FFF;
  z-index: 10000;
}

.cluster-container {
  clear: both;
  position: relative;
}




div.message {
  position: absolute;
  width: 100%;
  text-align: center;
  height: 228px;
  top: 45%;
  margin-top: -124px;
}

.message img {
  width: 200px;
}

.tooltip-inner {
  text-align: left;
  max-width: 300px;
}








/* Elasticsearch statuses */
.red            {outline: 1px solid #D00;}
.yellow         {outline: 1px solid #FC0;}
.red            {background-color: #D00;}
.yellow         {background-color: #FC0;}
.green          {background-color: #0D0;}
.replica        {opacity: 0.33;}

.free           {background-color: #0D0;}
.inuse          {background-color: #6DD;}
.full           {background-color: #09D;}
.batchdown      {background-color: #500;}
.offline        {background-color: #FC0;}
.unknown        {background-color: #999;}

.note {
  background-image: url("../images/icons/multi_note.gif");
  background-position: center 0px;
}
.warning, .critical {
  background-image: url("../images/icons/multi_plain.gif");
}
.warning        {background-position: center -11px;}
.critical       {background-position: center -22px;}
.downtime       {background-image: url("../images/icons/downtime.png");}
.down           {background-image: url("../images/icons/dead.png");}
.Test           {background-color: #999;}
.maintenance    {}
.pps            {}
.cloud-bad      {background-color: #f57900;}
.Production     {background-color: rgb(115, 210, 22);}
.Ready          {background-color: rgb(201, 234, 22);}
.Holding        {background-color: rgb(46, 52, 54);}
.Deployment     {background-color: rgb(237, 212, 0);}
.ReadOnly       {background-color: rgb(114, 159, 207);}
.Draining       {background-color: rgb(32, 74, 135);}
.Intervention   {background-color: rgb(193, 125, 17);}
.Decomissioned  {background-color: rgb(0, 0, 0);}
