/*================================
GLOBAL SETTINGS
==================================*/
* {
    box-sizing: border-box;
}

body {
  background-color: #666;
  color: #fff;
  font: 8pt 'lucida sans unicode', 'lucida sans', 'dejavu lgc sans', 'sans', 'arial';
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

a {
  color: #6DD;
  text-decoration: none;
}

ul {
  padding-left: 10px;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-circle-arrow-right:before {
  content: "\e131";
}

.glyphicon-circle-arrow-left:before {
  content: "\e132";
}

.glyphicon-circle-arrow-up:before {
  content: "\e133";
}

.glyphicon-circle-arrow-down:before {
  content: "\e134";
}


/*==================================
ASIDE, HEADER
==================================*/
aside {
  position: fixed;
  z-index: 2;
  float: left;
  width: 180px;
  height: 100vh;
  background: #333;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
  margin-top: -16px;
}

header {
  z-index: 20;
  float: left;
  height: 90px;
  border-bottom: 3px solid #3C6950;
  background: #333;
}

.logo {
  color: #ddd;
  text-align: center;
  text-shadow: 1px 1px 1px #444;
  font-size: 56px;
  font-family: "Emilys Candy",cursive;
}

#inLocate {
  margin: 0 6px;
  padding: 6px 10px;
  width: 168px;
  border: 3px solid #3C6950;
  border-radius: 17px;
  background: #ddd;
  color: #000;
  font-size: 13px;
}


/* === Navigation === */
nav {
  float: left;
  margin-top: 16px;
}

.drop-head {
  width: 100%;
  height: 30px;
  cursor: pointer;
}

.menu-header {
  float: left;
  margin: 4px 0;
  padding-left: 2px;
  color: #909090;
  font-size: 14pt;
  font-weight: normal;
}

.drop-head:hover .arrow,
.drop-head:hover .menu-header {
  color: #dbdbdb;
}

.menu-section {
  float: left;
  margin: 0;
  padding: 10px 0;
  width: 100%;
  border-top: 1px solid #3B3B3B;
  border-bottom: 1px solid #2A2A2A;
}

.menu-section:first-child {
  border-top: none;
}

.menu-items {
  float: left;
  clear: both;
  width: 100%;
}

.tab {
  float: left;
  margin: 2px 0;
  padding: 8px 0 8px 18px;
  width: 100%;
  background: #383838;
  color: #EDEDED;
  list-style-type: none;
  cursor: pointer;
}

.tab:hover {
  background: #555;
}

.tab.active {
  background: #666;
  color: #fff;
}

.arrow {
  float: right;
  padding: 4px 16px 0px 0px;
  color: #515151;
  font-size: 14px;
}


/* === Key === */
.key {
  padding: 6px;
  color: #EDEDED;
}

.key-item {
  clear: both;
  margin: 4px;
  padding: 0;
  list-style-type: none;
}

.key key-item {
  float: left;
  margin-right: 4px;
}


/* === Footer === */
footer {
  float: left;
  padding: 16px;
  width: 100%;
  border-top: 1px solid #3B3B3B;
  text-align: center;
  font-size: 12px;
}


/* === Scroll Bar === */
.scroll {
  float: left;
  padding-left: 14px;
  width: 180px !important;
}


/*==================================
MAIN CONTENT
==================================*/
.wrapper {
  margin: 16px 0 0 196px;
  min-height: 100%;
}

#farm {
  float: left;
  width: 100%;
}

.loading {
  width: 100%;
  z-index: 1;
  background: rgba(102, 102, 102, 0.6);
  position: fixed;
  height: 100vh;
  text-align: center;
  margin-left: -134px;
  padding-top: 10%;
}


/* === Node Container Headers === */
.group-name {
  float: left;
  margin-top: 20px;
  padding: 8px;
  width: 100% !important;
  background-color: #717171;
  font-size: 22pt;
  font-weight: normal;
}

h2:first-of-type {
  margin-top: 0px;
}

.panel-name {
  margin: 0;
  padding: 4px 0 0 4px;
  font-weight: bold;
  font-size: 14px;
  cursor: default;
}

.cluster-name {
  margin: 0;
  padding: 4px 0 4px 2px;
  font-size: 9pt;
  cursor: default;
  font-weight: normal;
  clear: both;
}


/* === Node Containers === */
.node-group {
  clear: both;
  margin-bottom: 20px;
  padding: 0 16px;
}

.node-panel {
  padding: 10px;
  background-color: #717171;
}

.node-cluster {
  clear: both;
  float: left;
  padding: 4px;
}

.grid-item {
  margin-bottom: 16px;
  width: 228px;
}

.grid-item-big {
  width: 960px;
}
@media (max-width: 1171px) {
  .grid-item-big {
    width: 716px;
  }
}
@media (max-width: 927px) {
  .grid-item-big {
    width: 472px;
  }
}
@media (max-width: 683px) {
  .grid-item-big {
    width: 228px;
  }
}


/* === Nodes === */
.node {
  float: left;
  box-sizing: content-box;
  margin: 1px;
  width: 16px;
  height: 11px;
  border: 1px solid #000;
  background-position: center center;
  cursor: pointer;
}

.node:hover {
  z-index: 10000;
  outline: 2px solid #FFF;
}


/* === ES only === */
.rack {
  float: left;
  width: 20px;
}

p.rack {
  margin: 0;
  text-align: center;
  font-size: 6pt;
}


/* === Error === */
.page-error {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #d50e0e;
    margin-top: 12px;
    cursor: help;
    font-size: 34px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.error-zone {
    z-index: 100;
    right: 0;
    bottom: 0;
    position: fixed;
    width: 40px;
    margin: 12px;
}


/*==================================
NODE STATE COLOURS/IMAGES
==================================*/

/* === General === */
.unknown                    {background-color: #999;}
.free, .STARTED             {background-color: #0D0;}
.inuse                      {background-color: #6DD;}
.full, .RELOCATING          {background-color: #09D;}
.batchdown, .UNASSIGNED     {background-color: #500;}
.offline, .INITIALIZING     {background-color: #FC0;}
.Test                       {background-color: #999;}
.Production                 {background-color: #73d216;}
.Ready                      {background-color: #caeb16;}
.Holding                    {background-color: #2e3436;}
.Deployment                 {background-color: #edd400;}
.ReadOnly                   {background-color: #729fcf;}
.Draining                   {background-color: #204a87;}
.Intervention               {background-color: #c17d11;}
.Decomissioned              {background-color: #000000;}


/* === Cloud === */
.uninstantiated {background-color: #666;}
.instantiated   {background-color: #6DD;}


/* === Elastic Search Statuses === */
.red            {outline: 1px solid #D00;}
.yellow         {outline: 1px solid #FC0;}
.red            {background-color: #D00;}
.yellow         {background-color: #FC0;}
.green          {background-color: #0D0;}
.replica        {opacity: 0.33;}


/* === Note - Warning/Critical === */
.note,
.note.critical,
.note.warning {
  background-image: url("../images/icons/multi_note.gif");
}

.note {
  background-position: center 0;
  background-repeat: no-repeat;
}

.note.critical {
  background-position: center -22px;
}

.note.warning {
  background-position: center -11px;
}


/* === Warnings/Downtime/Dead/Critical === */
.warning, .critical {
  background-image: url("../images/icons/multi_plain.gif");
}

.warning {
  background-position: center -11px;
}

.critical {
  background-position: center -22px;
}

.downtime {
  background-image: url("../images/icons/downtime.png");
}

.down {
  background-image: url("../images/icons/dead.png");
}
